In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"Downloads/sales.csv")

In [3]:
df

   id   product  price  quantity
0   1    Laptop  60000         1
1   2     Mouse    400         2
2   3    Laptop  60000         1
3   4  Keyboard    700         1
4   5     Mouse    400         1

In [13]:
df['revenue'] = df['price'] * df['quantity']

In [14]:
result = df.groupby('product')['revenue'].sum()

In [15]:
print("Product-wise Revenue:")
for product, revenue in result.items():
    print(f"{product} - ₹{revenue}")

Product-wise Revenue:
Keyboard - ₹700
Laptop - ₹120000
Mouse - ₹1200